[submodule "lib/forge-std"]
	path = lib/forge-std
	url = git@github.com:foundry-rs/forge-std.git
[submodule "lib/oev-contracts"]
	path = lib/oev-contracts
	url = git@github.com:UMAprotocol/oev-contracts.git
